<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.springWebProj.bean.Film">
	<resultMap type="Film" id="queryFilmMap">
		<id column="film_id" property="film_id"/>
		<result column="title" property="title"/>
		<result column="name" property="language"/>
		<result column="description" property="description"/>
	</resultMap>
	<select id="queryAll" resultMap="queryFilmMap">
	 <![CDATA[
			select f.film_id,title,description,l.name from film f, language l where f.language_id=l.language_id
		]]>
	</select>
	
	<select id="queryPagination" resultMap="queryFilmMap">
		<![CDATA[
			select f.film_id,title,description,l.name 
			from film f, language l 
			where f.language_id=l.language_id
			and f.film_id limit #{offset},#{limit}
		]]>
	</select>
	
	<insert id="addFilm" useGeneratedKeys="true" keyProperty="film_id">
		<![CDATA[
			insert into film (title,description,language_id) values(#{title},#{description},#{language_id})
		]]>
	</insert>
	
	<delete id="deleteFilmByID" parameterType="int">
		<![CDATA[
			delete from film where film_id=LOWER(#{film_id})
		]]>
	</delete>
	
	<delete id="deleteFilmActorByID" parameterType="int">
		<![CDATA[
			delete from film_actor where film_id=LOWER(#{film_id})
		]]>
	</delete>
	<delete id="deleteFilmCategoryByID" parameterType="int">
		<![CDATA[
			delete from film_category where film_id=LOWER(#{film_id})
		]]>
	</delete>
	<delete id="deleteInventoryByID" parameterType="int">
		<![CDATA[
			delete from film_category where film_id=LOWER(#{film_id})
		]]>
	</delete>
	<update id="modifyFilm" parameterType="Film">
		<![CDATA[
			update film set title=#{title},
			      description=#{description},
			      language_id=#{language_id} where film_id=#{film_id}
		]]>
	</update>
	
</mapper>