.main{
	
}
.deleteTable{
	
}
.tableTitle{
	border: gray 1px solid;
    background-color: #789847;
    height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}
.tableTitleCol1{
	
}
.tableTitleCol2{
	
}
.tableTitleCol3{
	
}
.tableTitleCol4{
	
}
.tableContentRow{
	
}
.tableContentCol{
	
}